<% content_for :title do %>
  <%= 'Nhà phân phối'%>
<% end %>

<% content_for :page_title do %>
  <i class="fa fa-"></i> <%= t('.distributors') %>
<% end %>

<% content_for :page_toolbar do %>
  <%= erp_component('button/create', {
      text: t('.Thêm nhà phân phối'),
      href: erp_distributors.new_backend_distributor_path,
      class: 'btn-noborder'
  }) %>
<% end %>

<% content_for :global_filter do %>
  <div class="row top-datalist">
      <div class="col-md-3">
          <%= erp_form_control("dataselect", {
              name: 'category_id',
              label: 'Chuyên mục',
              placeholder: 'Tìm theo chuyên mục',
              url: erp_distributors.dataselect_backend_distributors_path(format: 'json'),
          }) %>
      </div>
  </div>
<% end %>

<%= erp_datalist(
  url: erp_distributors.list_backend_distributors_path,
  keywords: [
      {
          text: t('.name'), name: 'erp_distributors_distributors.name'
      },
      {
          text: t('.category'),
          name: 'erp_distributors_categories.name',
          select: {
              name: 'erp_distributors_categories.id',
              data_url: erp_distributors.dataselect_backend_distributors_path
          }
      },
      {
          text: t('creator'),
          name: 'erp_users.name',
          select: {
              name: 'erp_users.id',
              data_url: erp.dataselect_backend_users_path
          }
      }
  ],
  actions: [
      {
          text: '<i class="fa fa-trash"></i> '+t('.delete'),
          url: erp_distributors.delete_all_backend_distributors_path,
          data_method: 'DELETE',
          data_confirm: t('delete_confirm')
      }
  ],
  filters: [
      {
          text: t('archived'), name: 'show_archived', value: false, checked: false
      },
  ],
  columns: [
      {
          text: t('image'), name: 'image', value: true, checked: true
      },
      {
          text: t('name'), name: 'name', value: true, checked: true
      },
      {
          text: t('address'), name: 'address', value: true, checked: true
      },
      {
          text: t('open_time'), name: 'open_time', value: true, checked: true
      },
      {
          text: t('status'), name: 'status', value: true, checked: true
      },
      {
          text: t('latitude'), name: 'latitude', value: true, checked: false
      },
      {
          text: t('longitude'), name: 'longitude', value: true, checked: false
      },
      {
          text: t('creator'), name: 'creator', value: true, checked: false
      },
      {
          text: t('created_at'), name: 'created_at', value: true, checked: false
      }
  ],
  sort: { sort_by: 'erp_distributors_distributors.created_at', sort_direction: 'desc' }
) %>
