<table class="table table-advance table-hover table-striped table-checkable order-column">
    <thead>
        <tr>
            <th width='1%'>
                <%= erp_datalist_check_all %>
            </th>
            <% if get_columns(params).include?("image") %>
                <th width='15%'><%= t('image') %></th>
            <% end %>
            <% if get_columns(params).include?("name") %>
                <th class="sortable" sort-by='erp_products_brands.name'>
                    <%= t('.name') %>
                </th>
            <% end %>
            <% if get_columns(params).include?("address") %>
                <th>
                    <%= t('.address') %>
                </th>
            <% end %>
            <% if get_columns(params).include?("open_time") %>
                <th><%= t('open_time') %></th>
            <% end %>
            <% if get_columns(params).include?("status") %>
                <th><%= t('status') %></th>
            <% end %>
            <% if get_columns(params).include?("latitude") %>
                <th><%= t('latitude') %></th>
            <% end %>
            <% if get_columns(params).include?("longitude") %>
                <th><%= t('longitude') %></th>
            <% end %>
            <% if get_columns(params).include?("creator") %>
                <th><%= t('creator') %></th>
            <% end %>
            <% if get_columns(params).include?("created_at") %>
                <th class="sortable" sort-by='erp_products_brands.created_at'>
                    <%= t('created_at') %>
                </th>
            <% end %>
            <th width="7%" class="sortable text-nowrap" sort-by='erp_distributors_distributors.custom_order'>
                <%= t('custom_order') %>
            </th>
            <th width="7%"><%= t('actions') %></th>
        </tr>
    </thead>
    <tbody>
        <% @distributors.each do |distributor| %>
            <tr class="odd gradeX">
                <td>
                    <%= erp_datalist_check_row(id: distributor.id) %>
                </td>
                <% if get_columns(params).include?("image") %>
                    <td>
                        
                    </td>
                <% end %>
                <% if get_columns(params).include?("name") %>
                    <td>
                        <%= link_to distributor.name, erp_distributors.edit_backend_distributor_path(distributor), class: 'title' %>
                    </td>
                <% end %>
                <% if get_columns(params).include?("address") %>
                    <td>
                        <%= link_to distributor.address %>                        
                    </td>
                <% end %>
              
               <% if get_columns(params).include?("open_time") %>
                    <td>
                        <%= link_to distributor.open_time %>                        
                    </td>
                <% end %>
              
                <% if get_columns(params).include?("created_at") %>
                    <td><%= distributor.created_at.strftime("%d/%m/%Y") %></td>
                <% end %>
               
                <td class="text-right">
                    <%= erp_datalist_row_actions(
                        [
                            {
                                text: '<i class="fa fa-edit"></i> '+t('edit'),
                                href: erp_distributors.edit_backend_distributor_path(distributor)
                            },

                            {
                                divider: true
                            },
                            {
                                text: '<i class="fa fa-trash"></i> '+t('.delete'),
                                url: erp_distributors.backend_distributor_path(distributor),
                                data_method: 'DELETE',
                                class: 'ajax-link',
                                data_confirm: t('delete_confirm')
                            }
                        ]
                    ) %>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>
<% if @distributors.empty? %>
    <div class="datalist-empty-line"><%= t('.no_matching_records_found') %></div>
<% end %>


